header {
    background-color: #212121;
    color: white;
    font-size: 14px;
    height: 30px;
    border: 0px solid white !important;
    margin-bottom: 0px;
    text-align: right;
    padding: 5px 30px 0px 0px;
}
header a {
    color: white;
}
header a:hover {
    color: white;
  }
header a :active {
    color:white;
  }
body{
    font-size: 14px;
}
.jumbotron{
    background-color: #e6e6e6;
    background-image: url();
    height: max-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: 1px solid rgb(197, 197, 197); 
    margin-bottom: 0px;   
}
.Jbox{
    background-color: #212121;
    height: max-content;  
    padding-top: 0px; 
    padding-left: 0px;
    color:  #9b9b9b;
}
.Jboxtext{
    background-color: #212121;
    color: white;
    opacity: 60%;
    border-radius: 0px;
    padding: 10px;
    width: auto;
    text-align: left;
    font-size: 14px;
    
}

h1{
    font-size: 30px;
}
.navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 0px;
    background-color:transparent;    
}
.navbar-brand img {
    width: 150px;
}
.kirjaudu{
    text-align: center;
    background-color:  #e6e6e6;
    padding: 10px;
    margin:30px;
}
.kirjaudu2{
    text-align: center;
    background-color: white;
    padding: 10px;
    margin:30px;
}
.section{
    border: 0px solid black !important; 
    height: max-content;
    width: auto;
    padding: 20px;
    margin: 0px 0px 00px 0px;
    text-align: left;
}
a {
    color: black;
}
a:hover {
    color: black;
  }
a :active {
    color:black;
  }

.btn {
    color: #ffffff;
    background-color: #FAC25A;
    border-color: #FAC25A;
    font-weight: bold;
    border-radius: 2px;
    }
    .btn:hover,
    .btn:active,
    .btn:focus,
    .btn:active {
    background: #ffcf76;
    color: #ffffff; 
    border-color: #ffcf76;
  
}
.placeholder-img{
    text-align: center;
}
.mainimage {
    margin-top: 30px;
    padding: 0px;
    text-align: center;
    border: 0px solid black !important; 
}

.tuotetekstit{
    padding: 15px;
    text-align: left;
    margin: 30px 15px 0px 15px;

}
.tuotekuvat{
    
    padding: 15px;
    text-align: center;
    margin: 15px;
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

span {
    background-color: white;
    padding: 5px 5px 5px 5px;
    color: black;
    opacity: 85%;
    border-radius: 2px;
}
.tuotekuvat:hover {
    transition-delay: 0ms;
    opacity: 0.7;
    
}
.esikatselukuva{
    text-align: left;
    margin: 0px;
    padding-top:20px;
    border: 0px solid gray;
}
.esikatselukuva img:hover {
    
    opacity: 0.5;
}
ul{
    list-style-type: square;
    list-style-position: inside;
    padding: 0px;
}
footer{ 
    border: 0px solid white !important;
    max-width: 100%;
    height: max-content;
    background-color: #212121;
    padding-left: 40px;
    margin-top: 40px;
}
.footercontent{
    color: #9b9b9b;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}
